<?xml version="1.0"?>

	<appSettings>
	 
    <add key="cm_conn" value="server=DELL-PC\SQLEXPRESS;database=case_management;Integrated Security=SSPI;"/>
    
    <add key="mailserver" value="mail.abc.com"/>
		<add key="emailmaster" value="webmaster@abc.com" />
		<add key="emailpwd" value="D2t4C7qu3I" />
		<add key="domain" value="abc.com"/>
		<add key="FolderPath" value="d://www//beta.abc//Data//images"/>
		<add key="logFilePath" value="/Logs/logFile.txt"/>
		<add key="CacheFolder" value="c:\temp\CacheFolder\"/>
    <add key="NodeJSPort" value="8888"/>
    
   <!--
		****************************************************************** 
		** Optional Base URL ** Defaults to: "~/" **

		If YAF forum URL is different than the Application Root,
		you will need to specify the BaseURL here of the forum.
		
		e.g. ~/forumff
		
		If you use the BaseUrlOverrideDomain key, you can also include
		the complete URL for the forum even if the domain is different
		than the domain the web server registers. (Domain masking)
		
		
		-->
			<add key="PRV.BaseUrl" value="~/" />

			<!--
		****************************************************************** 
		** Optional Base URL Override Domain ** Defaults to: "false" **

		Use this key with the BaseURL key above to specify a domain 
		mask for your YAF forum.	
		-->
			<add key="PRV.BaseUrlOverrideDomain" value="false" />
		<!--
		*****************************
			Notice from user's manualy
		-->
			<add key="Success" value="Thành công."/>
			<add key="Fail" value="Phát sinh lỗi."/>
			<add key="Atleast" value="Chọn ít nhất một đối tượng."/>
      <add key="Existed" value="Thông tin đã có."/>
			<add key="Nothing" value="Chưa có thông tin."/>
      <add key="NoPermit" value="Bạn không có quyền cho thao tác này."/>

      <add key="owin:AutomaticAppStartup" value="false" />
      <!--
       ==========================
       
      -->
      <add key="" value =""/>
      
  </appSettings>

    <!--<connectionStrings/>-->
  
    
